.network-container {
    display: flex;
    flex-direction: row;
    flex-basis: 0%;

    padding: 20px;
    margin: 10px;
    background-color: var(--bg);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 60%;

    @media (pointer:none), (pointer:coarse) {
        flex-direction: column;
        width: 100%;
        margin-bottom: 20px;
    }
}

.network-title {
    display: flex;
    flex-basis: 0%;
    flex-grow: 1;

    font-size: 1.5rem;
    color: var(--text);
    margin-right: 20px;
    text-align: center;

    @media (pointer:none), (pointer:coarse) {
        margin: auto;
    }
}

.network-image-list {
    display: flex;
    flex-basis: 0%;
    flex-grow: 2;

    flex-direction: column;
    gap: 15px;

    @media (pointer:none), (pointer:coarse) {
        margin-right: 10px;
        margin-left: 10px;
    }
}

.dot {
    height: 25px;
    width: 25px;
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-12px);
    border: none;
    border-radius: 50%;
    display: inline-block;
    z-index: 0;
}

.red {
    background-color: #DA291C;
}

.green {
    background-color: #00843D;
}

.blue {
    background-color: #003DA5;
}

.docker-image {
    display: flex;
    flex-direction: row;

    padding: 15px;
    background-color: var(--bg-light);
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.docker-image-title {
    flex-grow: 10;
    flex-basis: 0%;

    margin: 10px;
    color: var(--text);
}

.docker-image-element {
    flex-grow: 10;
    flex-basis: 0%;

    margin: 10px;
    color: var(--text-muted);
}

.docker-image-status-dot {
    position: relative;
    width: 25px;
}