.Ribbon {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 5vh;
    font-size: x-large;
    background-color: var(--bg);
    color: var(--text);
    align-content: center;
    text-align: center;
}