.Ribbon {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 5vh;
    margin-bottom: 20px;
    font-size: x-large;
    background-color: var(--bg);
    color: var(--text);
    align-content: center;
    text-align: center;
    z-index: 1;
}

.Summary {
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 2;
    font-size: xx-large;
    width: 5vh;
    height: 5vh;
    align-content: center;
}

.Summary.Fail {
    color: #DA291C;
}

.Summary.Success {
    color: #00843D;
}