#root {
  display: flex;
  flex-direction: column;
  align-items: center;

  /* border: 1px solid red; */
  width: 100%;
  margin: 0 auto;
  padding: 2rem; 
  text-align: center;

  @media (pointer:none), (pointer:coarse) {
    padding: 0;
  }
}
