:root {
  --bg-dark: hsl(0 0% 13%);
  --bg: hsl(0 0% 18%);
  --bg-light: hsl(0 0% 23%);
  --text: hsl(0 0% 90%);
  --text-muted: hsl(0 0% 70%);

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-top: 20px;
  @media (pointer:none), (pointer:coarse) {
    margin-top: 40px;
  }
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  background-color: var(--bg-dark);
  padding-top: 2vh;
  min-width: 320px;
  min-height: 100vh;
}