.network-container {
    display: flex;
    flex-direction: row;
    flex-basis: 0%;

    padding: 20px;
    margin: 10px;
    background-color: #272727;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 60%;

    @media (pointer:none), (pointer:coarse) {
        flex-direction: column;
        width: 100%;
        margin-bottom: 20px;
    }
}

.network-title {
    display: flex;
    flex-basis: 0%;
    flex-grow: 1;

    font-size: 1.5rem;
    color: #FFF;
    margin-right: 20px;
    text-align: center;

    @media (pointer:none), (pointer:coarse) {
        margin: auto;
    }
}

.network-list {
    display: flex;
    flex-basis: 0%;
    flex-grow: 2;

    flex-direction: column;
    gap: 15px;

    @media (pointer:none), (pointer:coarse) {
        margin-right: 10px;
        margin-left: 10px;
    }
}

.network-item {
    display: flex;
    flex-direction: row;

    padding: 15px;
    background-color: #2f2f2f;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.network-item-title {
    flex-grow: 1;
    flex-basis: 0%;

    margin: 10px;
    color: #fff;
}

.network-item-element {
    flex-grow: 1;
    flex-basis: 0%;

    margin: 10px;
    color: #ccc;
}